<div class="menu_show">

<br>
<h1>これで決まり！！！</h1>
<br>

<h3>メイン：<%= @main %></h3>
<br>

<h3>つけあわせ：<%= @side %></h3>
<br>

<h3>汁物：<%= @soup %></h3>
<br>
<br>
<%= link_to 'もう一度回す', roulettes_path, class: 'btn btn-info' %>
<br>

</div>